@import "public";
//导航栏

.nav{
  padding:px2rem(20px) 0;
  text-align: center;
  font-size: px2rem(30px);
  border-bottom: px2rem(1px) solid $lineColor;

}

//.nav-list {
//  display: flex;
//  display: -webkit-box;
//  display: -webkit-flex;
//  border-bottom: px2rem(1px) solid $lineColor;
//  padding: px2rem(32px) 0 px2rem(32px) 0;
//  li {
//    -webkit-box-flex: 1;
//    -webkit-flex: 1;
//    flex: 1;
//    text-align: center;
//    font-size: px2rem(25px);
//    span {
//      display: block;
//      width: px2rem(100px);
//      height: px2rem(100px);
//      margin: 0 auto;
//      background-size: cover;
//    }
//    div {
//      margin-top: px2rem(20px);
//      font-size: px2rem(30px);
//    }
//  }
//  li:first-child {
//    border-right: px2rem(1px) solid $lineColor;
//  }
//;
//  li:last-child {
//    border-left: px2rem(1px) solid $lineColor;
//  }
//}
//
//.music-icon01 {
//  background: url(../img/music-ion01.png) no-repeat center;
//}
//
//.music-icon02 {
//  background: url(../img/music-ion02.png) no-repeat center;
//}
//
//.music-icon03 {
//  background: url(../img/music-ion03.png) no-repeat center;
//}

//内容部分
.content {
  padding: 0 px2rem(30px);
}

.content-header {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  font-size: px2rem(27px);
  color: $fontSizeDarkGray;
  padding: px2rem(32px) 0;
  div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
  div:last-child {
    text-align: right;
  }
}

.content-list {
  .my-song-row {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    //height: px2rem(208px);
    padding: px2rem(30px) 0;
    border-bottom: px2rem(1px) solid $lineColor;
    div {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
    }
  }
}

.song-info {
  padding-left: px2rem(30px);
  div {
    padding: px2rem(17px) 0;
  }
}

.song-pic {
  width: px2rem(256px);
  background-repeat:no-repeat;
  background-position: center center;
  background-size:cover;
}

.song-name {
  font-size: px2rem(30px);
  width: px2rem(328px);
}

.song-data {
  font-size: px2rem(24px);
  margin-top: px2rem(40px);
  color: $fontSizeLightGray;
  i{
    margin-right:px2rem(10px);
  }
  b{
    font-weight: normal;
  }
  span:last-child {
    float: right;
  }
}
//
//.song01 {
//  background: url(../img/music01.jpg) no-repeat center;
//  background-size: cover;
//
//}

.song02 {
  background: url(../img/music04.jpg) no-repeat center;
  background-size: cover;

}

.song03 {
  background: url(../img/music03.jpg) no-repeat center;
  background-size: cover;

}

