.overflow-point {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.video-pic {
  position: relative;
  height: 5.22667rem;
  background: url(/res/img/video01.jpg) no-repeat center;
  background-size: cover; }

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.33333rem;
  height: 1.33333rem;
  border-radius: 100%;
  border: 0.01333rem solid rgba(255, 255, 255, 0.3);
  margin-top: -0.66667rem;
  margin-left: -0.66667rem;
  background-color: transparent; }
  .play-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    border-left: 0.46667rem solid rgba(255, 255, 255, 0.5);
    border-top: 0.46667rem solid transparent;
    border-bottom: 0.46667rem solid transparent;
    margin-top: -0.46667rem;
    margin-left: -0.23333rem; }

.video-feedback {
  margin-top: 0.2rem; }

.common-list {
  padding: 0.48rem 0.10667rem;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  color: #c0c0c0; }
  .common-list li {
    width: 1.97333rem; }
  .common-list i {
    font-size: 0.4rem;
    margin-right: 0.24rem; }
  .common-list span {
    font-size: 0.26667rem; }

.share {
  flex-grow: 1;
  text-align: right; }

.row-comment {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  padding: 0.48rem 0 0.36rem 0.08rem;
  border-bottom: 0.01333rem solid #e0e0e0; }

.user-pic {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  margin-right: 0.26667rem; }

.user-pic1 {
  background: url(/res/img/user.jpg) no-repeat center;
  background-size: cover; }

.user-pic2 {
  background: url(/res/img/user02.jpg) no-repeat center;
  background-size: cover; }

.user-pic3 {
  background: url(/res/img/user03.jpg) no-repeat center;
  background-size: cover; }

.user-pic4 {
  background: url(/res/img/user04.jpg) no-repeat center;
  background-size: cover; }

.user-name {
  padding-top: 0.08rem;
  width: 100%; }
  .user-name span {
    display: inline-block;
    width: 60%;
    overflow: hidden;
    color: #808080;
    font-size: 0.34667rem; }
  .user-name i {
    font-style: normal;
    float: right;
    padding-right: 0.6rem;
    color: #c0c0c0; }

.comment-text {
  margin-top: 0.4rem;
  font-size: 0.4rem;
  padding-right: 0.6rem; }

body, html {
  height: 100%; }

.bg-blur {
  height: 100%;
  background: url("/res/img/user02.jpg") no-repeat center;
  background-size: cover;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px); }

.container {
  position: relative; }

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100; }

.ctrl-header {
  margin-top: 0.53333rem;
  text-align: center;
  color: #fff; }

.ctrl-song-name {
  padding: 0.37333rem 0;
  font-size: 0.46667rem; }

.ctrl-singer-name {
  font-size: 0.26667rem; }

.ctrl-song-pic {
  width: 8.4rem;
  height: 8.4rem;
  border-radius: 100%;
  border: 0.13333rem solid #999;
  margin: 1.13333rem auto;
  background: url("/res/img/user02.jpg") no-repeat center;
  background-size: cover;
  -webkit-animation: change 20s linear infinite; }

@-webkit-keyframes change {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

.ctrl-footer {
  color: #fff;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 1.86667rem;
  font-size: 0.4rem; }

.play-box {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  line-height: 2;
  width: 100%; }
  .play-box li {
    flex: 1;
    text-align: center; }

.play-pause {
  position: relative; }
  .play-pause div {
    position: absolute;
    top: 0;
    left: 50%;
    line-height: 2;
    margin-left: -0.4rem;
    text-align: center; }

.pause {
  display: none; }
